body{
    background: #000;
}

.menu{
    position: relative;
    margin-top: 25px;
    background: lightgray;
    height: 50px;
    line-height: 50px;
    color: black;
    display: inline-block;
    width: 100%;
}

.menu>a, .menu div{
    display: inline;
    color: red;
    text-decoration: none;
    cursor: hand;
    background: grey;
    padding: 10px 40px;
    margin-left: 20px;

}

.menu>a:hover{
    background: darkkhaki;
}
.menu .active{
    background: greenyellow;
}
#top{
    background: yellow;
    height: 100px;
}

